::after {
    padding-left: 15px;
}

::before {
    padding-right: 15px;
}

#menu-nav h1 {
    color: #d5d5d5;
    letter-spacing: 0.5em;
    font-size: 3.5em;
    display: none;
}

#menu-nav .slider {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: #27A16B;
    transform: translateX(200%);
    transition: all 320ms ease;
}

#menu-nav .slider ul {
    margin-top: 10%;
    padding: 0;
}

.slider ul li {
    display: block;
    list-style: none;
    padding: 20px 25px;
    font-size: 20px;
    transition: all 320ms ease;
    cursor: pointer;
    color: #f0f0f0;
}

#menu-nav .slider ul li.active,
#menu-nav .slider ul li:hover {
    background: #33444C;
}

#menu-nav .slider ul li:nth-child(1),
#menu-nav .slider ul li:nth-child(2),
#menu-nav .slider ul li:nth-child(3),
#menu-nav .slider ul li:nth-child(4),
#menu-nav .slider ul li:nth-child(5),
#menu-nav .slider ul li:nth-child(6),
#menu-nav .slider ul li:nth-child(7) {}

#menu-nav .showslide {
    transform: translateX(0%);
}

#menu-nav .wrapper {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 1000;
}

#menu-nav .wrapper span {
    width: 40px;
    height: 1px;
    background: #d5d5d5;
    display: block;
    margin-bottom: 10px;
    transition: all 320ms ease;
}

#menu-nav .wrapper .grill {
    color: #7f994c;
}

#menu-nav .wrapper .grill:nth-child(1) {
    transform: rotate(45deg) translateY(7px);
}

#menu-nav .wrapper .grill:nth-child(2) {
    display: none;
}

#menu-nav .wrapper .grill:nth-child(3) {
    transform: rotate(-45deg) translateY(-7px);
}