@mixin slowTransition($time) {
    transition: all $time ease-in-out;
}

@mixin border($width, $border-style, $border-color) {
    border: $width $border-style $border-color;
}

@mixin hide {
    display: none;
}

@mixin show {
    display: block
}

@mixin reset {
    padding: 0;
    margin: 0;
}