#omega-site .grid-container {
    display: grid;
    max-width: 878px;
    margin: 0 auto;
    grid-template-areas: "a a b" "c d d" "e e f";
    /* grid-auto-flow: dense; */
    grid-gap: 5px;
    margin-bottom: 100px;
    grid-auto-flow: dense;
    padding: 70px;
    border-radius: 25px;
    img {
        width: 100%;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            opacity: 0.9;
        }
        &:nth-child(1) {
            grid-area: a;
            border-radius: 25px 0 0 0;
        }
        &:nth-child(2) {
            grid-area: b;
            height: 22.7em;
            border-radius: 0 25px 0 0;
        }
        &:nth-child(3) {
            grid-area: c;
            height: 20.4em;
        }
        &:nth-child(4) {
            grid-area: d;
            height: 20.5em;
        }
        &:nth-child(5) {
            grid-area: e;
            border-radius: 0 0 0 25px;
        }
        &:nth-child(6) {
            grid-area: f;
            height: 22.7em;
            border-radius: 0 0 25px 0;
        }
    }
}