#omega-site .watch-content {
    .container {
        --grid-item-offset: 200px;
        display: grid;
        grid-gap: 70px;
        gap: 70px;
        grid-template-columns: 40% 20% 20%;
    }
    .first {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
    .second {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .container .omega-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        line-height: 1.05;
        font-weight: 700;
        letter-spacing: -0.015em;
        margin-top: 166px;
        margin-left: 194px;
        gap: 30px;
        color: #1d1d1f;
        p {
            margin-top: 30px;
            color: #86868b;
            font-size: 18px !important;
        }
        .omega-text-container-text {
            font-size: 16px !important;
        }
        .omega-text-container-title {
            font-size: 30px;
            line-height: 1.05;
            font-weight: 700;
            letter-spacing: -0.015em;
        }
        div:first-child {
            margin-bottom: 600px;
            margin-top: 250px;
        }
    }
}