#omega-site .products-container .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            height: 65%;
            width: 85%;
            object-fit: contain;
        }
    }
}

.omega-purchase-button {
    background-color: #C50124;
    border: 2px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
    @include slowTransition(0.3s);
    width: 100px;
    &:hover {
        background-color: white;
        border: 2px solid gray;
        color: gray;
    }
}